.card-content {
    min-height: 168px;
}
.card {
    max-width: 300px;
}
.exhibition {
    cursor: pointer;
}
.card-footer-item {
    color: #00d1b2;
}
.add-gap {
    gap : 20px;
}
.cursor-pointer{
    cursor: pointer;
}

